<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<link rel="stylesheet" href="/prism/prism.css" />
	</head>
	<body class="showcase-body">
		<h1 class="showcase-header">Grid</h1>
		<p> Grids are used to arrange elements in a grid with just simply adding classes to the elements. </p>
		<div class="component-holder">
			<div class="grid-container">
				<div class="grid-div grid-div-1">
					<div>1 grid</div>
				</div>

				<div class="grid-div grid-div-2">
					<div>2 grid</div>
					<div>2 grid</div>
				</div>

				<div class="grid-div grid-div-3">
					<div>3 grid</div>
					<div>3 grid</div>
					<div>3 grid</div>
				</div>

				<div class="grid-div grid-div-4">
					<div>4 grid</div>
					<div>4 grid</div>
					<div>4 grid</div>
					<div>4 grid</div>
				</div>

				<div class="grid-div grid-div-5">
					<div>5 grid</div>
					<div>5 grid</div>
					<div>5 grid</div>
					<div>5 grid</div>
					<div>5 grid</div>
				</div>

				<div class="grid-div grid-div-6">
					<div>6 grid</div>
					<div>6 grid</div>
					<div>6 grid</div>
					<div>6 grid</div>
					<div>6 grid</div>
					<div>6 grid</div>
				</div>

				<div class="grid-div grid-div-7">
					<div>7 grid</div>
					<div>7 grid</div>
					<div>7 grid</div>
					<div>7 grid</div>
					<div>7 grid</div>
					<div>7 grid</div>
					<div>7 grid</div>
				</div>

				<div class="grid-div grid-div-8">
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
				</div>

				<div class="grid-div grid-div-9">
					<div>9 grid</div>
					<div>9 grid</div>
					<div>9 grid</div>
					<div>9 grid</div>
					<div>9 grid</div>
					<div>9 grid</div>
					<div>9 grid</div>
					<div>9 grid</div>
					<div>9 grid</div>
				</div>

				<div class="grid-div grid-div-10">
					<div>10 grid</div>
					<div>10 grid</div>
					<div>10 grid</div>
					<div>10 grid</div>
					<div>10 grid</div>
					<div>10 grid</div>
					<div>10 grid</div>
					<div>10 grid</div>
					<div>10 grid</div>
					<div>10 grid</div>
				</div>

				<div class="grid-div grid-div-11">
					<div>11 grid</div>
					<div>11 grid</div>
					<div>11 grid</div>
					<div>11 grid</div>
					<div>11 grid</div>
					<div>11 grid</div>
					<div>11 grid</div>
					<div>11 grid</div>
					<div>11 grid</div>
					<div>11 grid</div>
					<div>11 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div>12 grid</div>
					<div>12 grid</div>
					<div>12 grid</div>
					<div>12 grid</div>
					<div>12 grid</div>
					<div>12 grid</div>
					<div>12 grid</div>
					<div>12 grid</div>
					<div>12 grid</div>
					<div>12 grid</div>
					<div>12 grid</div>
					<div>12 grid </div>
				</div>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				<div class="grid-div grid-div-8">
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
					<div>8 grid</div>
				</div>
			</script>
		</div>
		<hr />
		<h1>Grid with specific location horizontal</h1>
		<div class="component-holder">
			<div class="grid-container">
				<div class="grid-div grid-div-12">
					<div class="grid-column-1-12">1-12 grid</div>
				</div>
				<div class="grid-div grid-div-12">
					<div class="grid-column-1-1">1-1 grid</div>
					<div class="grid-column-12-12">12-12 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-2-2">2-2 grid</div>
					<div class="grid-column-11-11">11-11 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-3-3">3-3 grid</div>
					<div class="grid-column-10-10">10-10 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-4-4">4-4 grid</div>
					<div class="grid-column-9-9">9-9 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-5-5">5-5 grid</div>
					<div class="grid-column-8-8">8-8 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-6-6">6-6 grid</div>
					<div class="grid-column-7-7">7-7 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-6-6">6-6 grid</div>

					<div class="grid-column-7-7">7-7 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-5-5">5-5 grid</div>

					<div class="grid-column-8-8">8-8 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-4-4">4-4 grid</div>

					<div class="grid-column-9-9">9-9 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-3-3">3-3 grid</div>
					<div class="grid-column-10-10">10-10 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-2-2">2-2 grid</div>
					<div class="grid-column-11-11">11-11 grid</div>
				</div>

				<div class="grid-div grid-div-12">
					<div class="grid-column-1-1">1-1 grid</div>
					<div class="grid-column-12-12">12-12 grid</div>
				</div>
				<div class="grid-div grid-div-12">
					<div class="grid-column-1-12">1-12 grid</div>
				</div>
			</div>
		</div>
		<div class="component-code-holder">
			<script type="text/plain" class="line-numbers language-html">
				//Specify the location of the grid on the horizontal axis (left to right)
				//If you want your div to start from 3 and end at 6,
				you can use the following code:
				<!-- <div class="grid-div grid-div-12"> -->
					<!-- <div class="grid-column-3-6">3-6 grid</div> -->
				<!-- </div> -->
				<div class="grid-div grid-div-12">
					<div class="grid-column-1-12">1-12 grid</div>
				</div>
			</script>
		<script src="/prism/prism.js"></script>
		<script src="/app.js"></script>
	</body>
</html>
